/* Write your CSS code here */
.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  list-style-type: none;
  padding: 0px;
}
